altgraph==0.17.3
attrdict3==2.0.2
coverage==7.0.3
cx-Freeze==6.13.1
numpy==1.24.1
packaging==22.0
patchelf==0.17.0.0
Pillow==9.4.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
pyserial==3.5
six==1.16.0
wxPython @ https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-22.04/wxPython-4.2.0-cp310-cp310-linux_x86_64.whl
